/* Переменные */
:root {
    --basic-red: #EE3643;
    --basic-black: #000000;
    --special-black: #161D29;
    --basic-green: #63A63E;
    --green-shadow: #367315;
    --green-dark: #518534;
 
    --basic-grey:  #3D546F;
    --basic-greylight: #C5C5C5;

    --background-blue-dark: #293449;
    --background-blue: #32425C;
    --background-blue-special: #1D2739;
    --basic-background: #F1F5F7;
    --header-background: #F3F7F9;
    --background-buttons: rgba(255,255,255,0.3);
    --background-buttons-hover: rgba(197,197,197,0.3);
    --background-buttons-active: rgba(169,169,169,0.3);
    --background-opacity: rgba(0, 0, 0, 0.0001);
    --background-slider-special: #a69581;
    --white: #ffffff;
 

    --background-popular-products: #F9F5F0;
    --product-border: #EAEAEA;
    --product-price: #A9A9A9;


    --special-yellow: #FFBF47;
    --special-yellow-light: #FFC047;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --succees:  #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --slider-button-hover: #CA2C37;

    --special-greylight:#EAEAEA;

    --shadow-logo: rgba(0, 0, 0, 0.24);
    --shadow-manufactures:  rgba(0, 0, 0, 0.15);
}

body {
    margin:0px;
    padding: 0px;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

/* img {
    height: auto;
    min-width: 100%;
} */

/* Скрытые заголовки */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Скрыть элемент */
.display-hide {
    display: none;
}


/* Grids */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    min-width: 960px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    padding: 0 20px;;
    margin: 0 auto;
}

/* header */
.page-header {
    background-color: var(--header-background);
    padding-bottom: 60px;
}

.header-promo {
    background-color: var(--background-blue-dark);
    color: var(--white);
}

.header-promo a {
    color: var(--white);
}

.header-promo .container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 42px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    z-index: 5;
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px  var(--shadow-logo);
}

.header-logo:active,
.header-logo:focus {
    background-color: var(--error);
}

.header-promo-form {
    position: relative;
    margin-left: 220px;
}

.header-search {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: inherit;
    color: var(--white);
    border: 0;
    outline: 0;

    width: 270px;
    height: 42px;
    padding-left: 42px;
}
.header-search::placeholder {
    color: var(--white);
}

.header-search:active,
.header-search:focus {
    background-color: var(--white);
    color: var(--basic-black);       
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 18px;
    z-index: 20;
}

.search-icon:not(.header-search:active) {
    opacity: 0.3;
}


.header-search:hover + .search-icon {
    opacity: 1;
}

.header-search:active + .search-icon .search-icon-path ,
.header-search:focus + .search-icon .search-icon-path {
    fill: var(--basic-red);
    opacity: 1;
}

.header-bookmarks,
.header-cart,
.header-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 42px;   
}

.header-bookmarks:active,
.header-bookmarks:focus,
.header-cart:active,
.header-cart:focus,
.header-order:active,
.header-order:focus {
    opacity: 0.5;
}

.header-bookmarks {
    position: relative;
}

.header-bookmarks::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    opacity: 0.3;
}

.header-bookmarks:hover::before,
.header-cart:hover::before  {
    opacity: 1;
}

.header-bookmarks:active,
.header-bookmarks:focus {
    background-color: var(--special-black);
}

.header-cart {
    position: relative;
}

.header-cart::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.header-order {
    background-color: var(--basic-green);
}

.header-info-wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
}

.header-info-wrapper h1 {
    display: block;
    width: 270px;
    margin-top: 42px;
    margin-left: 30px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}


.header-contacts a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 45px;
    color: var(--basic-red);
    font-weight: 700;
    background-color: var(--header-background);
    border: 3px solid var(--white);
    margin-top: 46px;
}

.header-contacts a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 39px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
}

.header-contacts p {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    width: 255px;
    font-size: 14px;
    line-height: 24px;
    color: var(--background-blue);
}

.header-login {
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;   
}

.header-button {
    display: block;
    padding: 0;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    outline: none;
    border: 0;
    color: var(--basic-black);
    background-color: var(--white);
}

.header-button:hover,
.header-button:focus {
    color: var(--basic-red);
}

.header-button:active {
    color: var(--basic-greylight);
}


.button-login {
    width: 121px;
    height: 45px;
}

.button-reg {
    margin-left: 10px;
    width: 150px;
    height: 45px;
}

.nav {
    margin-top: 40px;
    
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding:0;
    background-color: var(--background-blue);
    box-shadow: inset 0px -5px 0px  var(--background-blue-dark);

}

.nav-item a {
    display: block;
    color: var(--white);
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.nav-item:first-of-type a {
    padding-left: 53px;
}

.nav-item:nth-child(7n) a{
    padding-right: 53px;
}

.nav-item a:hover,
.nav-item a:focus {
    background-color: var(--background-blue-dark);
}

.nav-item a:active {
    background-color: var(--background-blue-special);

}

/* Main */

.advertisment {
    margin-top: 59px;
}

.advertisment-list {
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
}

.advertisment-item {
    width: 300px;
}

.advertisment-item h2 {
    display: block;
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    width: 140px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 23px;
}

.advertisment-item a {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-top: 14px;
    margin-left: 23px;
    text-transform: uppercase;
    color: var(--white);
    padding: 10px 24px 10px 24px;
    background-color: var(--background-buttons);
}

.advertisment-item a:hover,
.advertisment-item a:focus {
    background-color: var(--background-buttons-hover);
}

.advertisment-item a:active {
    background-color: var(--background-buttons-active);
}

.advertisment-slider {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 620px;
}

.perforators {
    background-image: url("../img/slider-perforators.jpg");
}

.drills {
    background-image: url("../img/slider-drill.jpg");
}

.materials {
    background-color: var(--special-yellow);
}

.instruments {
    background-color: var(--special-blue);
}

.technics {
    background-color: var(--special-lilac);
}

.discounts {
    background-color: var(--special-greenlight);
}

.delivery {
    background-color: var(--special-yellow-light);
}

.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item {
    position: relative;
    min-height: 266px;
    background-color: var(--background-slider-special);
}


.slider-item h2 {
    display: block;
    width: 240px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    margin-left: 24px;
}

.slider-item p {
    display: block;
    width: 260px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    margin: 0;
    padding: 0;
    margin-top:  5px;
    margin-left: 24px;
}

.slider-back,
.slider-next {
    width: 22px;
    height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-image: url("../img/slider-back.svg");
    background-color: transparent;
}

.slider-back {
    position: absolute;
    top: 122px;
    left: 24px;
}

.slider-next {
    position: absolute;
    transform: rotate(180deg);
    top: 122px;
    right: 24px;
}

.button {
    display: block;
    text-align: center;
    width: 192px;
    color: var(--white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 9px;
}

.slider-button {
    margin-left:24px;
    margin-top: 113px;
}

.button:hover,
.button:focus {
    background-color: var(--slider-button-hover);
}

.button:active {
    background-color: var(--error);
}

.slider-circle-button {
    position: absolute;
    top: 220px;
    left: 295px;
    outline: none;
    border: none;
    background-color: var(--white);
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
}

.slider-circle-button:last-of-type {
    left: 315px;
}

.slider-circle-button-current {
    width: 10px;
    height: 10px;
    background-color: var(--basic-red);
    border: 2px solid var(--white);
}

/* popular-products */

.popular-products {
    margin-top: 59px;
}

.section-heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
    min-height: 89px;
    background-color: var(--background-popular-products);
}

.section-heading-wrapper h2 {
    display: block;
    width:  540px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--background-blue);
    text-transform: uppercase;
}

.popular-products-list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-column-gap: 20px;
}

.products-item {
    display: flex;
    flex-direction: column;
    height: 318px;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid  var(--product-border);
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.products-item h3 {
    padding: 0;
    margin: 0;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 38px;
}

.products-item p {
    position: absolute;
    bottom: 80px;
    display: block;
    width: 172px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--product-price)
}

.product-button {
    color: var(--white);
    font-family: PT Sans;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    width: 141px;
    height: 38px;
    padding-top: 10px;
    background-image: url("../img/product-button.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 21px;
}

.products-item img {
    margin-bottom: 38px;
}

.products-item .bfg-9000 {
    margin-bottom: 8px;
}

.products-item .bfg-6000 {
    margin-bottom: 28px;
}

/* Лента New */
.new-product::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-new-product.png");
    z-index: 10;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
}

/* products-item:hover */

.products-item-action {
   
    width: 220px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

.products-item:hover .products-item-action,
.products-item:focus .products-item-action{
    display: flex;
}

.button-buy,
.button-to-bookmarks  {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 38px;
    width: 135px;
    height: 28px;
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--green-shadow);
    border-radius: 2px;
    border: 0;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;    
}

.button-buy::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.button-buy:hover,
.button-buy:focus {
    background-color: var(--succees);
}

.button-buy:active {
    background-color: var(--green-dark);
}

.button-to-bookmarks {
    margin-top: 10px;
    box-shadow: none;
    padding: 0;
    height: 38px;
    color: var(--background-blue);
    background-color: var(--white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
}

.button-to-bookmarks:hover,
.button-to-bookmarks:focus {
    border: 3px solid var(--background-blue);
    color: var(--background-blue);
}

.button-to-bookmarks:active {
    opacity: 0.5;
    border: 3px solid var(--background-blue);
    color: var(--background-blue);
}

/* manufacturers */

.manufacturers {
    margin-top: 50px;
}

.manufacturers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px 145px 145px;
    grid-gap: 20px;
}

.manufacturers-list li {
    border: 1px solid var(--product-border);
    box-sizing: border-box;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}


.manufacturers-list li:hover,
.manufacturers-list li:focus {
    filter: drop-shadow(0px 4px 20px  var(--shadow-manufactures));
}

.manufacturers-list li:active {
    filter: drop-shadow(0px 4px 20px  var(--shadow-manufactures));
    opacity: 0.5;
}